html {
  font-size: 13px;
  line-height: 1.23;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
  overflow-y: hidden; /* disable chrome pull down to refresh */
  color: #fdfdfd;
}
html, body, .page, .container {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media screen and (min-width: 50em) {
  html {
    width: 50em;
    margin: 0 auto;
    background-color: #111;
  }
}
body {
  background-color: #292e33;
}
::placeholder {
  color: #666;
}
.button {
  padding: 0.5rem;
  background-color: #666;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
.page {
  display: flex;
  flex-direction: column;
}
.openPage,
.listPage,
.editPage {
  display: none;
}
[data-page="open"] .openPage,
[data-page="list"] .listPage,
[data-page="edit"] .editPage {
  display: flex;
}
.listPage .results {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.topBar,
.botBar,
.topBar > * {
  height: 3.5rem;
  line-height: 3.5rem;
}
.topBar > * {
  font-size: 1.7rem;
}
.topBar {
  border-bottom: 2px solid #666;
  display: flex;
  flex: 0 0 auto;
}
.botBar {
  border-top: 2px solid #666;
  flex: 0 0 auto;
}
.spacer {
  width: 0;
  border-right: 1px solid #666;
  height: 1.5rem;
  margin: 1rem 0;
  flex: 0;
}
.connectivity,
.barButton {
  width: 3rem;
  text-align: center;
}
.connectivity::after {
  content: '';
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  margin: 1.35rem 0 0 1.1rem; /* top = (3.5-0.8)/2 ; right = (3.0-0.8)/2*/
  background-color: #d0453d; /* default = offline */
}
.online .connectivity::after {
  border-radius: 0.4rem;
  background-color: #479e49;
}
.barText {
  padding: 0 1rem;
}
.noteDescription {
  padding-left: 1rem;
  color: #999;
}
select {
  border: none;
  padding: 0 1rem;
  appearance: none;
}
input, option, select, textarea {
  background-color: inherit;
  color: inherit;
  outline: none;
  resize: none;
}
.priority {
  flex: 1;
}
.search {
  border: 0px none;
  margin: 0 0 0 0.75rem;
  padding: 0;
  width: 1px;  /* necessary to prevent overflow! */
  flex: 1 1 auto;
}
.listOrder.searchEmpty option[value="match"] {
  display: none;
}
.item {
  border-bottom: 1px solid #666;
  border-left: 0.3rem solid rgba(0, 0, 0, 0);
  font-family: monospace;
  overflow: hidden;
}
.item.read {
  color: #666;
}
.item.draft {
  border-left-color: #94a7da;
}
.item pre {
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  margin: 0;
}
.addButton {
  padding: 0 1rem;
  background-color: #444;
}
.editor {
  border: 0 none;
  outline: 0 none;
  flex: 1 1 auto;
  font-family: monospace;
  padding: 0.5rem 0.5rem 2.5rem 0.5rem;
  margin: 0;
  user-select: text;
  font-size: inherit;
  line-height: inherit;
}
.noHighlight::selection {
  background: rgba(0,0,0,0);
}
.sendKeys {
  display: flex;
}
.sendKeys div {
  flex: 1;
  text-align: center;
}
.sendKeys div:last-child {
  border-right: 0px none;
}
.diffPage .botBar {
  display: flex;
}
.diffHolder {
  flex: 1;
  font-family: monospace;
  white-space: pre-wrap;
  padding: 0.5rem;
  overflow-y: scroll;
}
ins {
  background-color: #382;
}
del {
  background-color: #a24;
}
ins,
del {
  text-decoration: none;
}
.diffSave,
.diffCancel {
  flex: 1;
  padding: 0 1rem;
}
.status {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}
.network .status {
  display: block;
  background-color: #1a5;
}
.related {
  display: block;
  background-color: #363b40;
  color: #f1ddc8;
  max-height: 6rem;
  overflow-y: scroll;
  border-top: 2px solid #666;
}
.related > div {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  font-family: monospace;
}

/* open */
.sectionTitle {
  padding: 1rem 1rem 0.5rem;
}
.newSection {
  padding: 1rem;
  display: flex;
}
.inputText {
  border: 1px solid #666;
  padding: 0.5rem;
  flex: 1;
}
.newNotes {
  flex: 0;
  margin: 1px 1px 1px 1rem;
  flex-basis: 6rem;
}
.openSection {
  flex: 1;
  overflow-y: scroll;
}
.book {
  padding: 0 1rem 0 0;
  border-top: 1px solid #666;
}
.bookRow {
  display: flex;
  align-items: center;
}
.bookName {
  flex: 1;
  padding: 2rem 1rem;
  cursor: pointer;
}
.bookName:hover {
  background-color: #333;
}
.bookRow .button {
  flex: 0;
  margin: 1.5rem 0 1.5rem 1rem;
  flex-basis: 6rem;
}
.bookShare {
  margin: 0 0 1rem 1rem;
  flex: 1;
}
.bookRowShare {
  display: none;
}
.bookShowShare .bookRowShare {
  display: flex;
}
